<!DOCTYPE html>
<html lang="en">
<head>

    <% add_to_page_title "AudioVision", "89.3 KPCC" %>
    <title><%= page_title %></title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />

    <%= csrf_meta_tags %>
    <%= render "shared/header/core_includes" %>
    <%= content_for :head %>

</head>
<body class="<%=@BODY_CLASS%>">


    <%= yield %>


    <%= content_for :footer %>

</body>
</html>
