<div class="js-kpcc-reference-box">

<% if article = post.related_kpcc_article %>

    <aside class="newsbox related">
        <header>
            <p>This AudioVision post is related to an article at KPCC. Follow the link to read more.</p>
            <span class="logo"><a href="http://scpr.org">89.3 KPCC</a></span>
        </header>
        <div class="preview clearfix">
            <b class="img"><a href="<%=article.permalink%>"><%= article.thumbnail.html_safe %></a></b>
            <p class="desc">
                <a href="<%=article.permalink%>">
                    <mark class="title"><%= article.short_title %></mark>
                    <span class="date"><%= format_date(article.published_at) %></span>
                </a>
            </p>
        </div>
    </aside><!--/ .newsbox -->

<% end %>

</div>
