<%= form_block "Details" do %>
  <%= f.association :category %>
  <%= f.input :title, input_html: { class: "wide sluggable" }, wrapper_html: { class: "field-counter", data: { target: 30, fuzziness: 20 } } %>
  <%= f.input :subtitle, input_html: { class: "wide" }, wrapper_html: { class: "field-counter", data: { target: 50, fuzziness: 10 } } %>
  <%= f.input :body, input_html: { class: "ckeditor" } %>
  <%= f.input :teaser, input_html: { class: "tiny" }, wrapper_html: { class: "field-counter", data: { target: 145, fuzziness: 20} } %>
  <%= f.input :slug, label: "URL Slug", input_html: { class: "span5" } %>
  <%= f.input :related_kpcc_article_url, input_html: { class: "wide" } %>
<% end %>


<%= form_block "Asset Management" do %>
  <%= f.input :media_type, collection: Post.media_types_collection %>

  <div id="asset_bucket" class="clearfix"></div>
  <%= f.input :asset_json, as: :hidden, input_html: { id: "asset_json" } %>
  
  <script>
    $(document).ready(function() {
      new outpost.AssetManager(<%= raw record.assets.to_json %>, "#asset_bucket")
    });
  </script>
<% end %>


<%= form_block "Attribution" do %>
  <% record.attributions.build %>
  
  <table class="field-rows">
    <thead>
      <tr>
        <th>Reporter</th>
        <th>Name</th>
        <th>URL</th>
        <th>Role</th>
        <th>Delete</th>
      </tr>
    </thead>
    
    <tfoot>
      <tr>
        <td colspan="10">
          <%= f.link_to_add_fields(:attributions, title: "Add another Attribution", build_target: "#attributions-fields") %>
        </td>
      </tr>
    </tfoot>
    
    <tbody id="attributions-fields">
      <%= f.has_many_fields :attributions %>
    </tbody>
  </table>
<% end %>

<%= form_block "Publishing" do %>
  <%= f.input :status, selected: record.status || Post::STATUS[:draft], collection: Post.status_collection %>
  <%= f.input :published_at %>
<% end %>

<br /><br /><br /><br /><br /><br /><br /><br />
