<%= form_block "Details" do %>
  <%= f.association :category %>
  <%= f.input :title, input_html: { class: "wide sluggable" }, wrapper_html: { class: "field-counter", data: { target: 30, fuzziness: 20 } } %>
  <%= f.input :subtitle, input_html: { class: "wide" }, wrapper_html: { class: "field-counter", data: { target: 50, fuzziness: 10 } } %>
  <%= f.input :body, input_html: { class: "ckeditor" } %>
  <%= f.input :teaser, input_html: { class: "tiny" }, wrapper_html: { class: "field-counter", data: { target: 145, fuzziness: 20} } %>
  <%= f.input :slug, label: "URL Slug", input_html: { class: "span5" } %>
  <%= f.input :related_kpcc_article_url, input_html: { class: "wide" } %>
<% end %>


<%= form_block "Asset Management" do %>
  <%= f.input :media_type, collection: Post.media_types_collection %>

  <div id="asset_bucket" class="clearfix"></div>
  <%= f.input :asset_json, as: :hidden, input_html: { id: "asset_json" } %>
  
  <script>
    $(document).ready(function() {
      new outpost.AssetManager(<%= raw record.assets.to_json %>, "#asset_bucket")
    });
  </script>
<% end %>


<%= form_block "Attribution" do %>
  <% record.attributions.build %>
  
  <table class="field-rows">
    <thead>
      <tr>
        <th>Reporter</th>
        <th>Name</th>
        <th>URL</th>
        <th>Role</th>
        <th>Delete</th>
      </tr>
    </thead>
    
    <tfoot>
      <tr>
        <td colspan="10">
          <%= f.link_to_add_fields(:attributions, title: "Add another Attribution", build_target: "#attributions-fields") %>
        </td>
      </tr>
    </tfoot>
    
    <tbody id="attributions-fields">
      <%= f.has_many_fields :attributions %>
    </tbody>
  </table>
<% end %>

<%= form_block "Publishing" do %>
  <%= f.input :status, selected: record.status || Post::STATUS[:draft], collection: Post.status_collection, input_html: { id: "status-select" } %>

  <div class="publish-alarm-fields">
    <%= f.simple_fields_for :publish_alarm, record.publish_alarm || record.build_publish_alarm do |a| %>
      <%= a.input :fire_at, wrapper_html: { class: "fire_at", style: "display: inline-block;"}, label: "Publish At", required: false, hint: "Schedule this record to publish on a future date. (optional) <br />Time is in 24-hour format. Example: 2013-01-10 16:45" %>

      <% if record.publish_alarm.persisted? %>
        <%= a.input :_destroy, as: :boolean, label: false, inline_label: "Clear Scheduled Publishing?", wrapper_html: { class: "inline destroy-bool" } %>
      <% end %>
    <% end %>
  </div>

  <div class="publishing-fields">
    <%= f.input :published_at %>
  </div>

  <div id="scheduled_status" class="notification block"></div>
<% end %>

<% content_for :footer do %>
  <script type="text/javascript">
    publishing = new outpost.Publishing({
      form: "#<%=f.options[:html][:id]%>",
      container: ".publishing-fields",
      notifications: "#scheduled_status",
      statusField: "#status-select",
      statusPending: "<%= Post::STATUS[:pending] %>",
      statusPublished: "<%= Post::STATUS[:published] %>"
    });

    contentAlarm = new outpost.ContentAlarm({
      form: "#<%=f.options[:html][:id]%>",
      container: ".publish-alarm-fields",
      notifications: "#scheduled_status",
      statusField: "#status-select",
      statusPending: "<%= Post::STATUS[:pending] %>",
      statusPublished: "<%= Post::STATUS[:published] %>"
    });
  </script>
<% end %>

<br /><br /><br /><br /><br /><br /><br /><br />
