<%= form_block "Details" do %>
  <%= f.association :category %>
  <%= f.input :title, input_html: { class: "wide sluggable" }, wrapper_html: { class: "field-counter", data: { target: 30, fuzziness: 20 } } %>
  <%= f.input :subtitle, input_html: { class: "wide" }, wrapper_html: { class: "field-counter", data: { target: 50, fuzziness: 10 } } %>
  <%= f.input :body, input_html: { class: "ckeditor" } %>
  <%= f.input :teaser, input_html: { class: "tiny" }, wrapper_html: { class: "field-counter", data: { target: 145, fuzziness: 20} } %>
  <%= f.input :slug, label: "URL Slug", input_html: { class: "span5" } %>
<% end %>

<%= form_block "Related Article" do %>
  <div class="js-article-feedback"></div>
  <%= f.input :related_kpcc_article_url, input_html: { class: "wide kpcc-url" } %>
  
  <% if record.related_kpcc_article.present? %>
    <%= f.input :_update_related_kpcc_article_cache, label: "Refresh article?", as: :boolean, hint: "Update the local article cache if information has been changed on KPCC.org" %>
  <% end %>
<% end %>

<%= form_block "Asset Management" do %>
  <%= f.input :post_type, collection: Post.post_types_collection %>

  <div id="asset_bucket" class="clearfix"></div>
  <%= f.input :asset_json, as: :hidden, input_html: { id: "asset_json" } %>
<% end %>


<%= form_block "Attribution" do %>
  <% record.attributions.build %>
  
  <table class="field-rows">
    <thead>
      <tr>
        <th>Reporter</th>
        <th>Name</th>
        <th>URL</th>
        <th>Role</th>
        <th>Delete</th>
      </tr>
    </thead>
    
    <tfoot>
      <tr>
        <td colspan="10">
          <%= f.link_to_add_fields(:attributions, title: "Add another Attribution", build_target: "#attributions-fields") %>
        </td>
      </tr>
    </tfoot>
    
    <tbody id="attributions-fields">
      <%= f.has_many_fields :attributions %>
    </tbody>
  </table>
<% end %>

<%= form_block "Publishing" do %>
  <%= f.input :status, selected: record.status || Post::STATUS[:draft], collection: Post.status_collection, input_html: { id: "status-select" } %>

  <%= f.section "publish_alarm" %>

  <div class="publishing-fields">
    <%= f.input :published_at %>
  </div>

  <div id="scheduled_status" class="notification block"></div>
<% end %>

<% content_for :footer do %>
  <script type="text/javascript">
    publishing = new outpost.Publishing({
      form: "#<%=f.options[:html][:id]%>",
      container: ".publishing-fields",
      notifications: "#scheduled_status",
      statusField: "#status-select",
      statusPending: "<%= Post::STATUS[:pending] %>",
      statusPublished: "<%= Post::STATUS[:published] %>"
    });

    contentAlarm = new outpost.ContentAlarm({
      form: "#<%=f.options[:html][:id]%>",
      container: ".publish-alarm-fields",
      notifications: "#scheduled_status",
      statusField: "#status-select",
      statusPending: "<%= Post::STATUS[:pending] %>",
      statusPublished: "<%= Post::STATUS[:published] %>"
    });

    assetManager = new outpost.AssetManager(
      <%= raw record.assets.to_json %>, "#asset_bucket"
    );
  </script>
<% end %>

<br /><br /><br /><br /><br /><br /><br /><br />

<% content_for :footer do %>
<script>
  relatedKpccArticleFeedback = new audiovision.RelatedKpccArticleFeedback()
</script>
<% end %>
