<% add_to_page_title @reporter.name %>
<% meta_tags(type: "profile", description: @reporter.bio, url: @reporter.remote_link_path) %>

<% content_for :extra_meta_tags do %>
<% cache [@reporter, "meta_tags"] do %>
<% name = @reporter.name.split %>
<meta property="og:profile:first_name" content="<%=name[0]%>" />
<meta property="og:profile:last_name" content="<%=name[1..-1].join%>" />
<meta property="og:profile:username" content="<%=@reporter.name.parameterize%>" />

<meta property="og:image" content="<%=@reporter.asset.full.url%>" />
<meta property="og:image:type" content="image/jpeg" />
<meta property="og:image:width" content="<%=@reporter.asset.full.width%>" />
<meta property="og:image:height" content="<%=@reporter.asset.full.height%>" />
<% end %><%# cache %>
<% end %><%# meta_tags %>



<div class="dossier bound">

    <%= cache @reporter do %>
    <article>
        <h1><%= @reporter.name %></h1>
        <div class="profile clearfix">
            <div class="prose">
                <%= simple_format(@reporter.bio, {}, sanitize: false) %>
                <ul>
                <% if @reporter.email.present? %>
                    <li class="email">Email <a href="mailto:<%=@reporter.email%>" title="<%=@reporter.email%>"><%= @reporter.email %></a></li>
                <% end %>

                <% if @reporter.twitter_handle.present? %>
                    <li class="twitter">Follow <a href="https://twitter.com/<%=@reporter.twitter_handle%>" title="@<%=@reporter.twitter_handle%>">@<%=@reporter.twitter_handle%></a> on Twitter</li>
                <% end %>
                </ul>
            </div>
            
            <b class="img"><img src="<%=@reporter.asset.small.url%>" alt="<%=@reporter.name%>" /></b>
        </div>
    </article>

    <h2>Posts by <%= @reporter.name %></h2>
    <% end %>


    <%= cache @posts do %>
    <section class="feedgrid med">
        <%= render "/posts/collection", posts: @posts %>
    </section><!--/ .feedgrid -->
    <% end %>

</div><!--/ .dossier -->

<%= paginate @posts %>
