<% meta_tags(description: @reporter.bio, image: @reporter.asset.lsquare.url, url: @reporter.remote_link_path) %>
<% add_to_page_title @reporter.name %>


<div class="dossier bound">

    <article>
        <h1><%= @reporter.name %></h1>
        <div class="prose">
            <%= simple_format(@reporter.bio, {}, sanitize: false) %>
        </div>
    </article>

    <h2>Posts by <%= @reporter.name %></h2>

    <!--
    <ul>
    <% @posts.each do |post| %>
        <li><%= link_to post.title, post.link_path %></li>
    <% end %>
    </ul>
    -->

    <section class="feedgrid med">
        <%= render "/posts/collection", posts: @posts %>
    </section><!--/ .feedgrid -->


</div><!--/ .dossier -->

<%= paginate @posts %>
