<%= render @billboard if @billboard.present? %>

<div class="warmup">

    <div class="warmup-inner bound clearfix">

        <h1 class="inset-title"><span class="bound"><b>Recently <mark>Published</mark></b></span></h1>

        <div class="recent">
            <% Array(@recent_posts[0..2]).each do |post| %>
            <figure class="clearfix">
                <b class="img"><a href="<%=post.link_path%>"><img src="<%=post.asset.eight.url%>" alt="" /></a></b>
                <figcaption>
                    <ul class="meta">
                        <li class="date"><%= format_date(post.published_at) %></li>
                        <li class="type"><%= link_to post.category.title, post.category.link_path %></li>
                    </ul>
                    <mark><%= link_to post.title, post.link_path %></mark>
                    <div class="desc">
                        <p><%= post.teaser.html_safe %></p>
                    </div>
                </figcaption>
            </figure>
            <% end %>
        </div><!--/ .recent -->
        <div class="primer">
            <section class="pamphlet">

                <h2>What is AudioVision?</h2>
                <p>AudioVision is public radio, visualized. We bring you the best in visual journalism and culture from Southern California, the undisputed global capital of eye candy. We help you stay informed about the world around you through the eyes of your fellow community members. We ask you to show us how your view of the world.</p>
                <p>Have you seen something great? Have you made something great? Want to share something great? Tell us about it. Email us at <a href="mailto:photos@kpcc.org">photos@kpcc.org</a>.</p>

                <% if @right_bar_bucket.present? && @right_bar_bucket.posts.present? %>
                    <h2>Showing &amp; Telling: Start Here</h2>

                    <% @right_bar_bucket.posts.each do |post| %>
                    <figure>
                        <b class="img"><a href="<%=post.link_path%>"><img src="<%=post.asset.small.url%>" alt="" /></a></b>
                        <figcaption>
                            <mark><%= link_to post.title, post.link_path %></mark>
                            <ul class="meta">
                                <li class="type"><%= post.category.title %></li>
                                <li class="date"><%= format_date(post.published_at) %></li>
                            </ul>
                        </figcaption>
                    </figure>
                    <% end %>
                <% end %>
            </section>
        </div><!--/ .primer -->
    </div><!--/ .warmup-inner -->
</div><!--/ .warmup -->


<section class="feedgrid med bound">
    <%= render "/posts/collection", posts: @recent_posts[3..6] %>
</section>



<% if @midway_bucket.present? && @midway_bucket.posts.present? %>
<aside class="roundup">
    <div class="roundup-ephemera">
        <div class="bound">
            <h1 class="roundup-title"><span>Our Latest <mark>Instagram</mark> Contest Winners</span></h1>
        </div>
    </div>
    <div class="roundup-inner clearfix bound">
        <p class="intro"><%= @midway_bucket.description.html_safe %></p>
        <nav class="clearfix">

        <% @midway_bucket.posts.limit(4).each do |post| %>
            <a href="<%=post.link_path%>">
                <figure>
                    <b class="img"><img src="<%=post.asset.small.url%>" alt="" /></b>
                    <figcaption>
                        <span class="meta"><%= format_date(post.published_at) %></span>
                        <mark><%= post.title %></mark>
                    </figcaption>
                </figure>
            </a>
        <% end %>
        
        </nav>
    </div>
</aside><!--/ .roundup -->
<% end %>



<section class="feedgrid med bound">
    <%= render "/posts/collection", posts: @recent_posts[7..10] %>
</section>


<%= render "shared/archive_bar", posts: @recent_posts[11..14] %>
