<div class="media-wrapper">
    <section class="gallery-grid clearfix">
    <% post.assets.each do |asset| %>
        <a href="<%=asset.eight.url%>" class="figure" data-fancybox-group="gallery" title="<%=asset.caption.gsub(/"/, "'")%>">
            <figure>
                <div class="img"><b><img src="<%=asset.small.url%>" alt="" /></b></div>
                <figcaption>
                    <h3 class="credit"><%= asset.owner %></h3>
                    <span><%= asset.caption %></span>
                </figcaption>
            </figure>
        </a>
    <% end %>
    </section><!--/ .gallery-grid -->
</div><!--/ .media-wrapper -->
