<% @BODY_CLASS = "single" %>

<%= cache post do %>

<!-- Common code for all single posts -->
<div class="exhibit exhibit-type-<%= post.media_type_key %>">
    <div class="exhibit-inner bound clearfix">
        
        <div class="primary">
            <%= render "posts/post_types/#{post.post_type_key}", post: post %>


        <% if (article = @post.related_kpcc_article).present? %>
            <aside class="newsbox related">
                <header>
                    <p>This AudioVision post is related to an article at KPCC. Follow the link to read more.</p>
                    <span class="logo"><a href="http://scpr.org">89.3 KPCC</a></span>
                </header>
                <div class="preview clearfix">
                    <b class="img"><a href="<%=article.permalink%>"><%= article.thumbnail.html_safe %></a></b>
                    <p class="desc">
                        <a href="<%=article.permalink%>">
                            <mark class="title"><%= article.short_title %></mark>
                            <span class="date"><%= format_date(article.published_at) %></span>
                        </a>
                    </p>
                </div>
            </aside><!--/ .newsbox -->

        <% elsif popular_kpcc_articles = Rails.cache.read('popular_kpcc_articles') %>
            <aside class="newsbox unrelated">
                <header>
                    <p>Explore what’s popular now on KPCC.</p>
                    <span class="logo"><a href="http://scpr.org">89.3 KPCC</a></span>
                </header>
                <ul class="popular-links">
                    <ul>
                        <li><a href="#">POLL: Public Radio Bracket Madness Rd 3: Vote for your favorite public radio show</a></li>
                        <li><a href="#">Beverly Center evacuated due to suspicious package in garage (Updated)</a></li>
                        <li><a href="#">After teen's death, hikers say Eaton Canyon should have better warnings</a></li>
                    </ul>
                </ul>
            </aside><!--/ .newsbox -->
        <% end %>


        </div><!--/ .primary -->

        <div class="secondary">
            <article class="essay">
                <header class="intro">
                    <h1 class="title"><%= link_to post.title, post.link_path %></h1>
                    <aside class="share">
                        <ul class="clearfix">

                            <li class="fbk">
                                <a href="https://www.facebook.com/sharer.php?u=<%=u(post.remote_link_path)%>&amp;t=<%=u(post.title)%>">Share this on Facebook</a>
                            </li>
                            <li class="twi">
                                <a href="https://twitter.com/intent/tweet?url=<%=u(post.remote_link_path)%>&amp;text=<%=u(post.title)%>&amp;via=AudioVision">Share this on Twitter</a>
                            </li>
                            <li class="tum">
                                <a href="http://tumblr.com/share?s=&amp;v=3&amp;t=<%=u(post.title)%>&amp;u=<%=u(post.remote_link_path)%>">Share this on Tumblr</a>
                            </li>

                        </ul>
                    </aside>
                    <aside class="byline">
                        <%= render_byline(post) %>
                        <mark class="date"><%= format_date(post.published_at) %></mark>
                    </aside>
                </header>
                <div class="prose">
                    <%= post.body.html_safe %>

                    <% if post.contributors.present? %>
                    
                        <h3>Contributors</h3>
                        <ul class="contributors">
                        <% post.contributors.each do |attribution| %>
                            <li>
                            <% if attribution.name.present? %>
                                <% if attribution.url.present? %>
                                    <%= link_to attribution.name, attribution.url %>
                                <% else %>
                                    <%= attribution.name %>
                                <% end %>
                            <% end %>
                            </li>
                        <% end %>
                        </ul>

                    <% end %>
                </div>
            </article>
        </div><!--/ .secondary -->

    </div><!--/ .exhibit-inner -->
</div><!--/ .exhibit -->

<% end %>
