<% meta_tags(description: @category.description, url: @category.remote_link_path) %>
<% add_to_page_title @category.title %>
<% @BODY_CLASS = "landing" %>

<header class="landing-welcome">
    <hgroup class="bound">
        <h1><%= @category.title %></h1>
        <h2><%= @category.description %></h2>
    </hgroup>
</header>



<%= cache @posts do %>

<section class="landing-recents">
    <div class="landing-recents-inner bound clearfix">
        <div class="primary clearfix">

        <% if post = @posts[0] %>
            <figure class="clearfix">
                <b class="img">
                    <a href="<%=post.link_path%>"><img src="<%=post.asset.eight.url%>" alt="" /></a>
                </b>
                <figcaption>
                    <div>
                        <span class="date"><%= format_date post.published_at %></span>
                        <mark><%= link_to post.title, post.link_path %></mark>
                        <p class="desc"><%= post.teaser.html_safe %></p>
                    </div>
                </figcaption>
            </figure>
        <% end %>

        </div>
        <div class="secondary clearfix">

        <% Array(@posts[1..2]).each do |post| %>
            <figure>
                <b class="img">
                    <a href="<%=post.link_path%>"><img src="<%=post.asset.small.url%>" alt="" /></a>
                </b>
                <figcaption>
                    <mark><%= link_to post.title, post.link_path %></mark>
                </figcaption>
            </figure>
        <% end %>
        
        </div>
    </div>
</section>


<section class="feedgrid med bound">
    <%= render "/posts/collection", posts: @posts[3..6], size: :eight %>
</section>


<%= render "shared/promos/promo_1" %>


<section class="feedgrid small bound">
    <%= render "/posts/collection", posts: @posts[7..12], size: :small %>
</section>


<%= render "shared/archive_bar", category: @category, posts: @posts[13..16] %>

<% end %>
