<% add_to_page_title @category.title %>
<% @BODY_CLASS = "landing" %>

<header class="landing-welcome">
    <hgroup class="bound">
        <h1><%= @category.title %></h1>
        <h2><%= @category.description %></h2>
    </hgroup>
</header>




<section class="landing-recents">
    <div class="landing-recents-inner bound clearfix">
        <div class="primary clearfix">
            <% if post = @posts[0] %>
                <figure class="clearfix">
                    <b class="img">
                        <%= link_to post.asset.eight.tag, post.link_path %>
                    </b>
                    <figcaption>
                        <span class="date"><%= format_date post.published_at %></span>
                        <mark><%= link_to post.title, post.link_path %></mark>
                        <p class="desc"><%= post.teaser.html_safe %></p>
                    </figcaption>
                </figure>
            <% end %>
        </div>
        <div class="secondary clearfix">
            <% Array(@posts[1..2]).each do |post| %>
                <figure>
                    <b class="img">
                        <%= link_to post.asset.small.tag, post.link_path %>
                    </b>
                    <figcaption>
                        <mark><%= link_to post.title, post.link_path %></mark>
                    </figcaption>
                </figure>
            <% end %>
        </div>
    </div>
</section>


<section class="feedgrid med bound">
    <%= render "/posts/collection", posts: @posts[3..6] %>
</section>


<div style="width: 100%; margin-bottom: 90px; padding: 60px 0; color: white; text-align: center; background: #eb592a;">Sponsorship, if it was happening, which it isn't (but is here for now, because it breaks up the page)</div>


<section class="feedgrid small bound">
    <%= render "/posts/collection", posts: @posts[7..12] %>
</section>


<%= render "shared/archive_bar", category: @category, posts: @posts[13..16] %>
