<% meta_tags(description: @post.teaser, image: @post.asset.full.url, url: @post.remote_link_path) %>
<% add_to_page_title @post.title %>

<% @BODY_CLASS = "single" %>


<%= cache @post do %>
    <%= render @post %>
<% end %>


<%= render "shared/promos/promo_1" %>


<div class="single-plugs">
    <div class="single-plugs-ephemera">
        <div class="bound">
            <h1><span>Recently on AudioVision</span></h1>
        </div>
    </div><!--/ .single-plugs-ephemera -->
    <div class="single-plugs-inner clearfix bound">

        <%= cache @recent_posts_not_this_category + @recent_posts_this_category do %>

        <section class="recently">

            <% @recent_posts_not_this_category.each_slice(2) do |group| %>
                <div class="pair clearfix">
                <% group.each do |post| %>
                    <article>
                        <a href="<%=post.link_path%>">
                            <figure>
                                <div class="img"><b><img src="<%=post.asset.small.url%>" alt="" /></b></div>
                                <figcaption>
                                    <span class="date"><%= format_date(post.published_at) %></span>
                                    <mark class="title"><%= post.title %></mark>
                                </figcaption>
                            </figure>
                        </a>
                    </article>
                <% end %>
                </div><!--/ .pair -->
            <% end %>

        </section>


        <aside class="recently-jump">
            <a href="/archive">Browse Everything</a>
        </aside>


        <section class="featured">
            <h2><span>Featured <%= @category.title.pluralize %></span></h2>

            <% @recent_posts_this_category.each do |post| %>
                <a href="<%=post.link_path%>" class="preview">
                    <figure>
                        <div class="img"><b><img src="<%=post.asset.small.url%>" alt="" /></b></div>
                        <figcaption>
                            <h3><%= post.title %></h3>
                            <p><%= post.teaser.html_safe %></p>
                        </figcaption>
                    </figure>
                </a>
            <% end %>

        </section>

        <aside class="featured-jump">
            <a href="<%=archive_path(category: @category.slug)%>">See All <%= @category.title.pluralize %></a>
        </aside>

        <% end %>

    </div>
</div><!--/ .single-plugs -->


<% content_for :footer do %>
<%# This has to be in this template so that we can keep it out of cache %>
<script>
    $(document).ready(function(){
    <% if popular_kpcc_articles = Rails.cache.read('popular_kpcc_articles') %>
        popularKpccArticles = new audiovision.PopularKpccArticles(
            <%= raw popular_kpcc_articles.to_json %>,
            { limit: 3 }
        );
    <% end %>
    });
</script>
<% end %>
