<% @BODY_CLASS = "single" %>

<!-- Common code for all single posts -->
<div class="exhibit">
    <div class="exhibit-inner bound clearfix">
        
        <div class="primary">

            <%= render "posts/media_types/#{@post.media_type_key}", post: @post %>

            <%= render "/shared/related_kpcc_article", post: @post %>

        </div><!--/ .primary -->

        <div class="secondary">
            <article class="essay">
                <header class="intro">
                    <h1 class="title"><%= link_to @post.title, @post.link_path %></h1>
                    <aside class="share">
                        <ul class="clearfix">
                            <li class="fbk"><a href="#">Share this on Facebook</a></li>
                            <li class="twi"><a href="#">Share this on Twitter</a></li>
                            <li class="tum"><a href="#">Share this on Tumblr</a></li>
                        </ul>
                    </aside>
                    <hgroup class="byline">
                        <h2><%= @post.byline %></h2>
                        <mark class="date"><%= format_date(@post.published_at) %></mark>
                    </hgroup>
                </header>
                <div class="prose">
                    <%= @post.body.html_safe %>
                </div>
            </article>
        </div><!--/ .secondary -->

    </div><!--/ .exhibit-inner -->
</div><!--/ .exhibit -->


<div style="width: 100%; margin-bottom: 90px; padding: 60px 0; color: white; text-align: center; background: #eb592a;">Sponsorship, if it was happening, which it isn't (but is here for now, because it breaks up the page)</div>




<div class="single-plugs">
    <div class="single-plugs-ephemera">
        <div class="bound">
            <h1><span>Recently on AudioVision</span></h1>
        </div>
    </div><!--/ .single-plugs-ephemera -->
    <div class="single-plugs-inner clearfix bound">
        <section class="recently">
            
            <% @recent_posts_not_this_type.each_slice(2) do |group| %>
                <div class="pair clearfix">
                    <% group.each do |post| %>
                        <article>
                            <a href="<%=post.link_path%>">
                                <figure>
                                    <div class="img"><b><img src="<%=post.asset.small.url%>" alt="" />
</b></div>
                                    <figcaption>
                                        <span class="date"><%= format_date(post.published_at) %></span>
                                        <mark class="title"><%= post.title %></mark>
                                    </figcaption>
                                </figure>
                            </a>
                        </article>
                    <% end %>
                </div><!--/ .pair -->
            <% end %>

        </section>

        <aside class="recently-jump">
            <a href="/archive">Browse Everything</a>
        </aside>

        <section class="featured">
            <h2><span>Featured <%= @category.title.pluralize %></span></h2>
            
            <% @recent_posts_this_type.each do |post| %>
                <a href="<%=post.link_path%>" class="preview">
                    <figure>
                        <div class="img"><b><img src="<%=post.asset.small.url%>" alt="" /></b></div>
                        <figcaption>
                            <h3><%= post.title %></h3>
                            <p><%= post.teaser.html_safe %></p>
                        </figcaption>
                    </figure>
                </a>
            <% end %>
        </section>

        <aside class="featured-jump">
            <a href="<%=archive_path(category: @category.slug)%>">See All <%= @category.title.pluralize %></a>
        </aside>

    </div>
</div><!--/ .single-plugs -->
