<% @BODY_CLASS = "single" %>

<!-- Common code for all single posts -->
<div class="exhibit">
    <div class="exhibit-inner bound clearfix">
        
        <div class="primary">

            <%= render "posts/media_types/#{@post.media_type_key}", post: @post %>

            <%= render "/shared/related_kpcc_article", post: @post %>

        </div><!--/ .primary -->

        <div class="secondary">
            <article class="essay">
                <header class="intro">
                    <h1 class="title"><%= link_to @post.title, @post.link_path %></h1>
                    <aside class="share">
                        <ul class="clearfix">
                            <li class="fbk"><a href="#">Share this on Facebook</a></li>
                            <li class="twi"><a href="#">Share this on Twitter</a></li>
                            <li class="tum"><a href="#">Share this on Tumblr</a></li>
                        </ul>
                    </aside>
                    <hgroup class="byline">
                        <h2><%= @post.byline %></h2>
                        <mark class="date"><%= format_date(@post.published_at) %></mark>
                    </hgroup>
                </header>
                <div class="prose">
                    <%= @post.body.html_safe %>
                </div>
            </article>
        </div><!--/ .secondary -->

    </div><!--/ .exhibit-inner -->
</div><!--/ .exhibit -->


<div style="width: 100%; margin-bottom: 90px; padding: 60px 0; color: white; text-align: center; background: #eb592a;">Sponsorship, if it was happening, which it isn't (but is here for now, because it breaks up the page)</div>




<div class="single-plugs">
    <div class="single-plugs-ephemera">
        <div class="bound">
            <h1><span>Recently on AudioVision</span></h1>
        </div>
    </div><!--/ .single-plugs-ephemera -->
    <div class="single-plugs-inner clearfix bound">
        <section class="recently">
            
            <div class="pair clearfix">
                    <article>
                        <a href="#">
                            <figure>
                                <div class="img"><b><img src="/assets/fpo-inline-image-rect.jpg" alt="" /></b></div>
                                <figcaption>
                                    <span class="date">June 8</span>
                                    <mark class="title">Fusce Vitae Sollicitudin</mark>
                                </figcaption>
                            </figure>
                        </a>
                    </article>
                    <article>
                        <a href="#">
                            <figure>
                                <div class="img"><b><img src="/assets/fpo-inline-image-rect.jpg" alt="" /></b></div>
                                <figcaption>
                                    <span class="date">June 8</span>
                                    <mark class="title">Fusce Vitae Sollicitudin</mark>
                                </figcaption>
                            </figure>
                        </a>
                    </article>
            </div><!--/ .pair -->

            <div class="pair clearfix">
                    <article>
                        <a href="#">
                            <figure>
                                <div class="img"><b><img src="/assets/fpo-inline-image-square.jpg" alt="" /></b></div>
                                <figcaption>
                                    <span class="date">June 8</span>
                                    <mark class="title">Fusce Vitae Sollicitudin</mark>
                                </figcaption>
                            </figure>
                        </a>
                    </article>
                    <article>
                        <a href="#">
                            <figure>
                                <div class="img"><b><img src="/assets/fpo-inline-image-rect.jpg" alt="" /></b></div>
                                <figcaption>
                                    <span class="date">June 8</span>
                                    <mark class="title">Fusce Vitae Sollicitudin</mark>
                                </figcaption>
                            </figure>
                        </a>
                    </article>
            </div><!--/ .pair -->     

        </section>

        <aside class="recently-jump">
            <a href="/archive">Browse Everything</a>
        </aside>

        <section class="featured">
            <h2><span>Featured Slideshows</span></h2>
            <a href="#" class="preview">
                <figure>
                    <div class="img"><b><img src="/assets/fpo-inline-image-rect.jpg" alt="" /></b></div>
                    <figcaption>
                        <h3>Dos Por Cuatro</h3>
                        <p>Morbi justo erat, pretium at dapibus quis, malesuada id quam tortor tempor eu. Nam eros lorem, pharetra eu mattis id, sollicitudin sit amet leo. Quisque ornare.</p>
                    </figcaption>
                </figure>
            </a>
            <a href="#" class="preview">
                <figure>
                    <div class="img"><b><img src="/assets/fpo-inline-image-square.jpg" alt="" /></b></div>
                    <figcaption>
                        <h3>A Tale of Two Cities</h3>
                        <p>Morbi justo erat, pretium at dapibus quis, malesuada id quam tortor tempor eu. Nam eros lorem, pharetra eu mattis id, sollicitudin sit amet leo. Quisque ornare.</p>
                    </figcaption>
                </figure>
            </a>
        </section>

        <aside class="featured-jump">
            <a href="/archive">See All THIS_TYPE</a>
        </aside>

    </div>
</div><!--/ .single-plugs -->
