<div class="primary">

    <% if post.assets.present? %>

    <div class="media-wrapper">
        <section class="gallery-grid clearfix">
        <% post.assets.each do |asset| %>
            <a href="<%=asset.eight.url%>" class="figure" data-fancybox-group="gallery" title="<%=h(asset.caption)%>">
                <figure>
                    <div class="img"><b><img src="<%=asset.small.url%>" alt="" /></b></div>
                    <figcaption>
                        <h3 class="credit"><%= asset.owner %></h3>
                        <span><%= asset.caption %></span>
                    </figcaption>
                </figure>
            </a>
        <% end %>
        </section><!--/ .gallery-grid -->
    </div><!--/ .media-wrapper -->

    <% end %>


    <%= render "posts/shared/kpcc_reference_box", post: post %>

</div><!--/ .primary -->


<div class="secondary">
    <article class="essay">

        <%= render "posts/shared/header", post: post %>

        <%= render "posts/shared/body", post: post %>

    </article>
</div><!--/ .secondary -->
