<div class="secondary">

    <%= render "posts/shared/header", post: post %>

</div><!--/ .secondary -->


<div class="primary">
    <article class="essay">

        <% if post.assets.present? %>

        <div class="media-wrapper">
            <img src="<%=post.asset.full.url%>" alt="" />
        </div><!--/ .media-wrapper -->

        <aside class="caption">
            <h3 class="credit"><%= post.asset.owner %></h3>
            <p><%= post.asset.caption %></p>
        </aside>

        <% end %>


        <%= render "posts/shared/body", post: post %>

    </article>

    <%= render "posts/shared/kpcc_references", post: post %>

</div><!--/ .primary -->
