<div class="primary">

    <% if post.assets.present? %>

    <div id="asset_slideshow_<%= post.id %>" class="slideview"></div>

    <div class="static-slides">
    <% post.assets.each_with_index do |asset, i| %>
      <div class="slide">
        <div class="media-wrapper">
            <img src="<%= asset.full.url %>" />
        </div><!--/ .media-wrapper -->

        <aside class="caption">
            <h3 class="credit"><%= asset.owner %></h3>
            <p><%= asset.caption %></p>
        </aside>
      </div>
    <% end %>
    </div>

    <%# Don't put this in content_for :footer, because it's wrapped in cache. %>
    <script type="text/javascript">
      $(document).ready(function(){
        var query, keyval;
        var params = {};
        query = _(window.location.search.substring(1).split("&")).each(function(pair) { keyval = pair.split("="); params[keyval[0]] = keyval[1]; });
        
        
        slideshow = new audiovision.Slideshow({
            start: params["slide"],
            deeplink: true,
            el: "#asset_slideshow_<%= post.id %>",
            assets: <%= raw post.assets.to_json %>,
            title: "<%= j post.title %>"
        });
        
        

        slideshow.bind("switch", function(idx) {
          // (1.) add slide change listener for analytics
          if(typeof(_gaq) != 'undefined') {
            _gaq.push(['_trackPageview',window.location.pathname + 'photos/' + (Number(idx) + 1)]);
            dcsMultiTrack(
                'DCS.dcsuri', window.location.pathname + 'photos/' + (Number(idx) + 1),
                'WT.ti', 'SlideShow PageView'
            );
          }
        });

        $(".slide").on("activated", function(event){
          if(slideshow.fullscreenActive) {
            slideshow.slides.setVerticalOffset(this);
          }
        });
      });
    </script>

    <% end %>


    <%= render "posts/shared/kpcc_references", post: post %>

</div><!--/ .primary -->


<div class="secondary">
    <article class="essay">

        <%= render "posts/shared/header", post: post %>

        <%= render "posts/shared/body", post: post %>

    </article>
</div><!--/ .secondary -->
