<div class="billboard layout-5 bound">

    <div class="row primary clearfix">
        <% if post = billboard.posts[0] %>
        <a href="#" class="component mobile">
            <div class="imagery">
                <%= post.asset.eight.tag %>
            </div>
            <hgroup class="caption">
                <h2 class="title"><%= post.title %></h2>
                <h3 class="subtitle"><%= post.teaser %></h3>
            </hgroup>
        </a><!--/ .component (mobile) -->
        <% end %>

        <% if post = billboard.posts[1] %>
        <a href="#" class="component video">
            <div class="imagery">
                <%= post.asset.eight.tag %>
            </div>
            <hgroup class="caption">
                <h2 class="title"><%= post.title %></h2>
                <h3 class="subtitle"><%= post.teaser %></h3>
            </hgroup>
        </a><!--/ .component (video) -->
        <% end %>
    </div><!--/ .row-primary -->

    <div class="row secondary clearfix">
        <% billboard.posts[2..4].each do |post| %>
        <a href="#" class="component image">
            <div class="imagery">
                <%= post.asset.small.tag %>
            </div>
            <hgroup class="caption">
                <h2 class="title"><%= post.title %></h2>
                <h3 class="subtitle"><%= post.teaser %></h3>
            </hgroup>
        </a><!--/ .component (image) -->
        <% end %>
    </div><!--/ .row-secondary -->

</div><!--/ .billboard -->
