<!DOCTYPE html>
<html lang="en">
<head>

    <% add_to_page_title "AudioVision", "89.3 KPCC" %>
    <title><%= page_title %></title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />

    <!-- These Meta Tags are the same for every page -->
    <meta property="og:site_name" content="AudioVision" />
    <meta name="keywords" content="KPCC,SCPR,AudioVision,photojournalism,Los Angeles,LA,Pasadena,Southern California,California,video,mobile photography,images,Grant Slater,Mae Ryan,Maya Sugarman" />
    <meta name="author" content="89.3 KPCC" />

    <!-- Always-present, Dynamically-populated tags - these will be set by the page we're on, other otherwise fallback to a default -->
    <%= tag "meta", property: "og:title", content: h(meta_information[:title] || page_title) %>
    <%= tag "meta", property: "og:type", content: h(meta_information[:type] || "website") %>
    <%= tag "meta", property: "og:url", content: meta_information[:url] || "http://audiovision.scpr.org" %>
    <%= tag "meta", name: "description", content: h(meta_information[:description] || "AudioVision is the visual journalism blog of KPCC and Southern California Public Radio.") %>
    <%= tag "meta", property: "og:description", content: h(meta_information[:description] || "AudioVision is the visual journalism blog of KPCC and Southern California Public Radio.") %>

    <%= content_for :extra_meta_tags %>

    <!-- Always provide the logo as a fallback thumbnail option. -->
    <meta property="og:image" content="http://audiovision.scpr.org/images/audiovision-opengraph.png" />
    <%= csrf_meta_tags %>

    <link rel="apple-touch-icon-precomposed" href="http://audiovision.scpr.org/apple-touch-icon-precomposed.png" />
    <link href="http://audiovision.scpr.org/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="alternate" type="application/rss+xml" title="RSS" href="http://audiovision.scpr.org/feed" />

    <%= render "shared/header/core_includes" %>
    <%= content_for :head %>

</head>
<body class="<%=@BODY_CLASS%>">



    <header class="masthead">
        <div class="global">
            <div class="global-inner bound">
                <h3 class="kpcc-brand"><a href="http://scpr.org" title="Southern California Public Radio">89.3 KPCC</a></h3>
                <nav class="kpcc-nav">
                    <ul class="clearfix">
                        <li class="homeward"><mark><a href="http://scpr.org">KPCC Home</a></mark></li>
                        <li class="inside">
                            <mark><span>Inside KPCC</span></mark>
                            <ul>
                                <li><a href="http://scpr.org/listen_live/">Listen Live</a></li>
                                <li><a href="http://scpr.org/news/">News</a></li>
                                <li><a href="http://scpr.org/programs/">Programs</a></li>
                                <li><a href="http://scpr.org/events/">Events</a></li>
                                <li><a href="http://scpr.org/about/">About</a></li>
                                <li class="conditional"><a href="https://scprcontribute.publicradio.org/contribute.php">Pledge Now</a></li>
                            </ul>
                        </li>
                        <li class="pledge"><mark><a href="https://scprcontribute.publicradio.org/contribute.php">Pledge Now</a></mark></li>
                    </ul>
                </nav>
            </div><!--/ .global-inner -->
        </div><!--/ .global -->
        <hgroup class="av-brand bound clearfix">
            <h1><a href="/">AudioVision</a></h1>
            <h2>From Southern California, public radio for your eyes.</h2>
        </hgroup>
        <div class="atlas bound clearfix">
            <nav class="follow">
                <ul>
                    <li class="fbk"><a href="https://www.facebook.com/Audiovision" title="AudioVision on Facebook">Facebook</a></li>
                    <li class="tum"><a href="http://audiovision.tumblr.com" title="AudioVision on Tumblr">Tumblr</a></li>
                    <li class="ins"><a href="http://www.instagram.com/kpcc" title="AudioVision on Instagram">Instagram</a></li>
                    <li class="twi"><a href="http://www.twitter.com/audiovision" title="AudioVision on Twitter">Twitter</a></li>
                    <li class="rss"><a href="http://audiovision.scpr.org/feed" title="Subscribe to AudioVision's RSS feed">RSS</a></li>
                </ul>
            </nav>
            <nav class="wayfinder">
                <ul>
                    <%= nav_link "Home", "/", key: "home" %>
                    <%= nav_link "Images", "/images", key: "images" %>
                    <%= nav_link "Mobile Photography", "/mobile-photography", key: "mobile-photography" %>
                    <%= nav_link "Video", "/video", key: "video" %>
                    <%= nav_link "About", "/about", key: "about" %>
                    <%= nav_link "Archives", "/archive", key: "archive" %>
                </ul>
            </nav>
        </div>
    </header><!--/ .masthead -->




    <header class="ledge" aria-hidden="true">
        <div class="ledge-inner bound">

            <nav class="nav-av">
                <ul>
                    <li class="menu">
                        <mark>AudioVision</mark>
                        <ul>
                            <%= nav_link "AudioVision Home", "/", key: "home" %>
                            <%= nav_link "Images", "/images", key: "images" %>
                            <%= nav_link "Mobile Photography", "/mobile-photography", key: "mobile-photography" %>
                            <%= nav_link "Video", "/video", key: "video" %>
                            <%= nav_link "About", "/about", key: "about" %>
                            <%= nav_link "Archives", "/archive", key: "archive" %>

                            <li>
                                <span class="follow clearfix">
                                    <b class="fbk"><a href="https://www.facebook.com/Audiovision" title="AudioVision on Facebook">Facebook</a></b>
                                    <b class="tum"><a href="http://audiovision.tumblr.com" title="AudioVision on Tumblr">Tumblr</a></b>
                                    <b class="ins"><a href="http://www.instagram.com/kpcc" title="AudioVision on Instagram">Instagram</a></b>
                                    <b class="twi"><a href="http://www.twitter.com/audiovision" title="AudioVision on Twitter">Twitter</a></b>
                                    <b class="rss"><a href="http://audiovision.scpr.org/feed" title="Subscribe to AudioVision's RSS feed">RSS</a></b>
                                </span>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav><!--/ .nav-av -->

            <nav class="nav-kpcc clearfix">
                <em class="pledge">
                    <a href="https://scprcontribute.publicradio.org/contribute.php">Pledge Now</a>
                </em>
                <ul>
                    <li class="inside">
                        <mark><span>89.3 KPCC</span></mark>
                        <ul>
                            <li><a href="http://scpr.org">KPCC Home</a></li>
                            <li><a href="http://scpr.org/listen_live/">Listen Live</a></li>
                            <li><a href="http://scpr.org/news/">News</a></li>
                            <li><a href="http://scpr.org/programs/">Programs</a></li>
                            <li><a href="http://scpr.org/events/">Events</a></li>
                            <li><a href="http://scpr.org/about/">About</a></li>
                            <li class="conditional"><a href="https://scprcontribute.publicradio.org/contribute.php">Pledge Now</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>

        </div>
    </header><!--/ .ledge -->


    <%= yield %>


    <aside class="membership">
        <a href="https://scprcontribute.publicradio.org/contribute.php">
            <div class="membership-inner clearfix bound">
                <h1>Did you know AudioVision is run from member-supported public radio?</h1>
                <div class="secondary">
                    <p>
                        <span>Your contributions power KPCC.</span>
                        <em>Give today</em>
                    </p>
                    <h2>89.3 KPCC</h2>
                </div>
            </div>
        </a>
    </aside><!--/ .membership -->


    <footer class="epilogue">
        <div class="epilogue-primary">
            <header class="branding">
                <hgroup class="clearfix">
                    <h1><a href="/">AudioVision</a></h1>
                    <h2><a href="http://scpr.org">89.3 KPCC</a></h2>
                </hgroup>
            </header>
        </div><!--/ .epilogue-primary -->
        <div class="epilogue-secondary">
            <section class="credits clearfix">
                <aside class="global clearfix">
                    <h3>kpcc.org</h3>
                    <ul>
                        <li><a href="http://scpr.org/terms/">Terms &amp; Conditions</a></li>
                        <li><a href="http://scpr.org/privacy/">Privacy</a></li>
                        <li><a href="http://scpr.org/web_site_feedback/">Website Feedback</a></li>
                    </ul>
                </aside>
                <aside class="connect clearfix">
                    <h3>Connect</h3>
                    <ul>
                        <li><a href="mailto:photos@kpcc.org">Email Us</a></li>
                        <li><a href="http://www.twitter.com/audiovision">Twitter</a></li>
                        <li><a href="http://www.instagram.com/kpcc">Instagram</a></li>
                        <li><a href="https://www.facebook.com/Audiovision">Facebook</a></li>
                        <li><a href="http://audiovision.tumblr.com">Tumblr</a></li>
                        <li><a href="http://audiovision.scpr.org/feed">RSS</a></li>
                    </ul>
                </aside>
                <aside class="staff clearfix">
                    <h3>Editors</h3>
                    <ul>
                        <li><a href="/about/maya-sugarman">Maya Sugarman</a></li>
                        <li><a href="/about/benjaminbrayfield">Benjamin Brayfield</a></li>
                    </ul>
                </aside>
            </section>
            <p class="fineprint">Copyright <%= Time.zone.now.year %> &copy; Southern California Public Radio</p>
        </div><!--/ .epilogue-secondary -->
    </footer><!--/ .epilogue -->


    <%= content_for :footer %>



    <!-- google analytics (via NPR Digital Services Station Analytics [http://analytics.nprstations.org/]) -->
    <script type="text/javascript">(function() {var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;ga.src = '//stream.publicbroadcasting.net/analytics/abf7.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);})();</script>
    <!-- /Google Analytics -->


</body>
</html>
